$orange         : #BD3613;
$blue           : #2176C7;
$bgcolor-nav    : #393960;
$bgcolor-primary: #839bfb;
$bgcolor-secondary: #ffffff;
$text-color: #ffffff;
$text-color2: #083845;


$font-primary: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;